body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFEDFA;
    margin: 0;
    padding: 20px;
    color: #FFEDFA;
}

h1 {
    text-align: center;
    font-size: 2.8em;
    color: #BE5985;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

#movies {
    max-width: 900px;
    margin: 0 auto;
}

.movie-card {
    background-color: #EC7FA9;
    border-left: 10px solid #BE5985;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 20px 25px;
    margin-bottom: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.movie-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 16px #FFEDFA;
}

.movie-card h2 {
    margin: 0 0 10px;
    color: #FFEDFA;
    font-size: 1.5em;
}

.movie-card p {
    margin: 6px 0;
    font-size: 15px;
    line-height: 1.5;
}

.movie-card p strong {
    color: #FFEDFA;
}

button {
    background-color: #BE5985;
    border: none;
    border-radius: 5px;
    color: #FFEDFA;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 10px 25px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 20px auto;
}

.button:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 16px #FFEDFA;
}

#form-container {
    max-width: 830px;
    margin: 30px auto;
    background-color: #EC7FA9;
    padding: 2px 40px 2px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#form-container form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#form-container button {
    background-color: #be5985;
    border: none;
    border-radius: 5px;
    color: #FFEDFA;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}
